<h1>this is about page</h1>

<%= link_to 'home page', home_path %>

<%= image_tag '10_years_gold.png' %>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:label, "Search For :") %>
  <%= text_field_tag(:input) %>
  <%= submit_tag("search") %>
<div>

  <%= check_box_tag(:choose) %>
  <%= label_tag(:ch_label, "agrement 1") %>

</div>  
<% end %>
